---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import SiteHeader from "@layouts/components/SiteHeader.astro";

if (Astro.locals.session !== null) {
    return Astro.redirect("/dashboard");
}
---

<DefaultLayout title="Sign In">
    <SiteHeader />
    <main class="wrapper">
        <h1>Sign In</h1>
        <a href="/sign-in/github">Sign In with GitHub</a>
    </main>
</DefaultLayout>
