---
import DashboardLayout from "@layouts/DashboardLayout.astro";
---

<DashboardLayout title="Headings - Dashboard">
    <main>
        <h1>Headings</h1>
        <h2>Sources</h2>
        <ul>
            <li>
                <a
                    href="https://www.w3.org/WAI/WCAG22/Understanding/headings-and-labels.html"
                >
                    Understanding Success Criterion 2.4.6: Headings and Labels |
                    WAI | W3C
                </a>
            </li>
        </ul>
    </main>
</DashboardLayout>
