<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Branch Duck - Quacking Soon</title>
	</head>
	<body>
		<h1>Branch Duck - Quacking Soon</h1>
        <p>All things web accessibility</p>
	</body>
</html>
