---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import SiteHeader from "@layouts/components/SiteHeader.astro";

export const prerender = true;
---

<DefaultLayout title="Home">
    <SiteHeader shouldServerDefer />
    <main class="wrapper">
        <h1>Branch Duck - all things web accessibility</h1>
    </main>
</DefaultLayout>
