---
import Navigation from "@components/Navigation.astro";
import "@styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;

const siteNavLinks = [
    {
        url: "/",
        text: "Branch Duck",
    },
    {
        url: "/dashboard",
        text: "Dashboard",
    },
];

const dashboardNavLinks = [
    {
        url: "/dashboard/pages",
        text: "Pages",
    },
    {
        url: "/dashboard/flows",
        text: "Flows",
    },
    {
        url: "/dashboard/conditions",
        text: "Conditions",
    },
    {
        url: "/dashboard/headings",
        text: "Headings",
    },
    {
        url: "/dashboard/links",
        text: "Links",
    },
    {
        url: "/dashboard/buttons",
        text: "Buttons",
    },
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} - Branch Duck</title>
    </head>
    <body>
        <Navigation name="Site" links={siteNavLinks} />
        <form id="form-sign-out">
            <button>Sign Out</button>
        </form>
        <Navigation name="Dashboard" links={dashboardNavLinks} />
        <slot />
    </body>
</html>

<script>
    const signOutForm = document.getElementById(
        "form-sign-out",
    ) as HTMLFormElement;

    signOutForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        await fetch("/api/sign-out", {
            method: "POST",
        });
        window.location.href = "/sign-in";
    });
</script>
